@import url('https://fonts.googleapis.com/css?family=Raleway:200');
html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: -webkit-radial-gradient(circle,#303030,#000000);
  background: -o-radial-gradient(circle,#303030,#000000);
  background: -moz-radial-gradient(circle,#303030,#000000);
  background: radial-gradient(circle,#303030,#000000);
}
.mb-4{
	width: 15vw;
	height: 15vw;
}
.form-signin {
	width: 50vw;
	max-width: 330px;
	padding: 5vh;
	margin: 0 auto;
	color: #FAFAFA;
}
.form-signin .checkbox {
	font-weight: 400;
	color: #FAFAFA;
  }
  .form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
  }
  .form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.container {
	position: absolute;
	top: 0%;
	width: 20vw;
	height: 100%;
	transition: .5s all ease;
	transform: rotateX(60deg) scale(0.7);
	perspective: 900px;
	box-shadow: 0px 20px 50px #555;
	animation: entry 1s linear 1;
  }
  
  #c1 {
	background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
	box-shadow: 0px 20px 100px #555;
	left: 100%;
	z-index: 0;
  }
  
  #c2 {
	left: -100%;
	z-index: 0;
	background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
	box-shadow: 0px 20px 100px #555;
  }
  
  .container:hover {
	cursor: pointer;
	transform: rotate(0deg) scale(1) translateY(10px);
	transition: .5s all ease;
	z-index: 400;
  }
  
  .image {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 20vw;
	height: 45%;
	background: linear-gradient(to top, #eba65b 30%, #d99267 100%);
  }
  
  #i1 {
	background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
  }
  
  #i2 {
	background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
  }
  
  .story {
	position: absolute;
	top: 45%;
	left: 0%;
	height: 55%;
	width: 100%;
	background: linear-gradient(to bottom, #eba65b 0%, #d99267 40%);
	z-index: 30;
  }
  
  #s1 {
	background: linear-gradient(to top, #5b62a2 0%, #7b88d1 100%);
  }
  
  .info {
	position: absolute;
	top: 10%;
  }
  
  #s2 {
	background: linear-gradient(to top, #5b62a2 0%, #7b88d1 120%);
  }
  
  h3 {
	text-align: center;
	text-shadow: 0px 0px 10px #eee;
	color: #eee;
	letter-spacing: 2px;
  }
  
  h4 {
	color: #eee;
	position: absolute;
	top: 30%;
	left: 30%;
	letter-spacing: 2px;
  }
  
  h1 {
	color: #eee;
	position: fixed;
	top: 8%;
	left: 41%;
	letter-spacing: 2px;
	font-size: 3vw;
  }
  
  p {
	font-size: 14px;
	color: #fff;
	padding: 0px 20px 20px 20px;
	line-height: 150%;
	text-align: center;
	letter-spacing: 1px;
  }
  
  .page {
	position: absolute;
	top: 0%;
	width: 100%;
	left: 0%;
	height: 20%;
	z-index: 30;
  }
  
  li {
	position: absolute;
	top: 10%;
	list-style: none;
	color: #eee;
  }
  
  li:nth-child(1) {
	left: 0%;
	animation: simple1 1s linear infinite;
  }
  
  li:nth-child(2) {
	right: 0%;
	animation: simple 1s linear infinite;
  }
  
  @keyframes simple {
	50% {
	  transform: translateX(10px);
	  opacity: 0.5;
	}
	100% {
	  transform: translateX(10px);
	  opacity: 0;
	}
  }
  
  @keyframes simple1 {
	50% {
	  transform: translateX(-10px);
	  opacity: 0.5;
	}
	100% {
	  transform: translateX(-10px);
	  opacity: 0;
	}
  }
  
  @keyframes entry {
	0% {
	  top: -20%;
	  opacity: 0.1;
	}
	100% {
	  top: 0%;
	}
  }

#custom-alert {
	position: fixed;
	top: 50px;
	width: 300px;
	height: 500px;
}